{{#if shareAllowed}}
<ul id="shareLink" class="shareWithList">
	<li data-share-id="{{cid}}">
		<div class="avatar icon-public-white"></div><span class="username" title="{{linkShareLabel}}">{{linkShareLabel}}</span>
		<span class="sharingOptionsGroup">
			<span class="shareOption">
				<span class="icon-loading-small hidden"></span>
				<input id="linkCheckbox-{{cid}}" {{#if isLinkShare}}checked="checked"{{/if}} type="checkbox" name="linkCheckbox" class="linkCheckbox permissions checkbox">
				<label for="linkCheckbox-{{cid}}">{{linkShareEnableLabel}}</label>
			</span>
			{{#if showMenu}}
				<div class="share-menu" tabindex="0"><span class="icon icon-more"></span>
					{{#if showPending}}
						{{{pendingPopoverMenu}}}
					{{else}}
						{{{popoverMenu}}}
					{{/if}}
				</div>
			{{/if}}
		</span>
	</li>
</ul>
{{else}}
{{#if noSharingPlaceholder}}<input id="shareWith-{{cid}}" class="shareWithField" type="text" placeholder="{{noSharingPlaceholder}}" disabled="disabled"/>{{/if}}
{{/if}}
