{{#if contact.avatar}}
	{{#if contact.profileUrl}}
		{{#if contact.profileTitle}}
			<a class="profile-link--avatar" href="{{contact.profileUrl}}">
				<img src="{{contact.avatar}}&size=32" class="avatar" srcset="{{contact.avatar}}&size=32 1x, {{contact.avatar}}&size=64 2x, {{contact.avatar}}&size=128 4x" alt="">
			</a>
		{{/if}}
	{{else}}
		<img src="{{contact.avatar}}&size=32" class="avatar" srcset="{{contact.avatar}}&size=32 1x, {{contact.avatar}}&size=64 2x, {{contact.avatar}}&size=128 4x" alt="">
	{{/if}}
{{else}}
	{{#if contact.profileUrl}}
		{{#if contact.profileTitle}}
			<a class="profile-link--avatar" href="{{contact.profileUrl}}">
				<div class="avatar"></div>
			</a>
		{{/if}}
	{{else}}
		<div class="avatar"></div>
	{{/if}}
{{/if}}
{{#if contact.profileUrl}}
	{{#if contact.profileTitle}}
		<a class="body profile-link--full-name" href="{{contact.profileUrl}}">
			<div class="full-name">{{contact.fullName}}</div>
			<div class="last-message">{{contact.lastMessage}}</div>
			<div class="email-address">{{contact.emailAddresses}}</div>
		</a>
	{{/if}}
{{else if contact.topAction}}
	<a class="body" href="{{contact.topAction.hyperlink}}">
		<div class="full-name">{{contact.fullName}}</div>
		<div class="last-message">{{contact.lastMessage}}</div>
		<div class="email-address">{{contact.emailAddresses}}</div>
	</a>
  <a class="top-action" href="{{contact.topAction.hyperlink}}" title="{{contact.topAction.title}}">
  <img src="{{contact.topAction.icon}}" alt="{{contact.topAction.title}}">
</a>
{{else}}
	<div class="body">
		<div class="full-name">{{contact.fullName}}</div>
		<div class="last-message">{{contact.lastMessage}}</div>
		<div class="email-address">{{contact.emailAddresses}}</div>
	</div>
{{/if}}
{{#if contact.hasTwoActions}}
<a class="second-action" href="{{contact.secondAction.hyperlink}}" title="{{contact.secondAction.title}}">
	<img src="{{contact.secondAction.icon}}" alt="{{contact.secondAction.title}}">
</a>
{{/if}}
{{#if contact.hasManyActions}}
	<span class="other-actions icon-more"></span>
	<div class="menu popovermenu">
		<ul>
			{{#each contact.actions}}
			<li>
				<a href="{{hyperlink}}">
					<img src="{{icon}}" alt="">
					<span>{{title}}</span>
				</a>
			</li>
			{{/each}}
		</ul>
	</div>
{{/if}}
