{{#unless contacts.length}}
<div class="emptycontent">
	<div class="icon-search"></div>
	<h2>{{noContactsFoundText}}</h2>
</div>
{{/unless}}
<div id="contactsmenu-contacts"></div>
{{#if contactsAppEnabled}}
<div class="footer"><a href="{{contactsAppURL}}">{{showAllContactsText}}</a></div>
{{else if canInstallApp}}
<div class="footer"><a href="{{contactsAppMgmtURL}}">{{contactsAppMgmtText}}</a></div>
{{/if}}
