<ul>
	{{#each items}}
		<li class="{{#if inline}}hidden{{/if}} action-{{nameLowerCase}}-container">
			<a href="#" class="menuitem action action-{{nameLowerCase}} permanent" data-action="{{name}}">
				{{#if icon}}<img class="icon" src="{{icon}}"/>
				{{else}}
					{{#if iconClass}}
						<span class="icon {{iconClass}}"></span>
					{{else}}
						<span class="no-icon"></span>
					{{/if}}
				{{/if}}
				<span>{{displayName}}</span>
			</a>
		</li>
	{{/each}}
</ul>
