<li data-revision="{{id}}">
	<div>
		<div class="preview-container">
			<img class="preview" src="{{previewUrl}}" width="44" height="44"/>
		</div>
		<div class="version-container">
			<div>
				<a href="{{downloadUrl}}" class="downloadVersion" download="{{downloadName}}"><img src="{{downloadIconUrl}}" />
					<span class="versiondate has-tooltip live-relative-timestamp" data-timestamp="{{millisecondsTimestamp}}" title="{{formattedTimestamp}}">{{relativeTimestamp}}</span>
				</a>
			</div>
			{{#hasDetails}}
				<div class="version-details">
					<span class="size has-tooltip" title="{{altSize}}">{{humanReadableSize}}</span>
				</div>
			{{/hasDetails}}
		</div>
		{{#canRevert}}
			<a href="#" class="revertVersion" title="{{revertLabel}}"><img src="{{revertIconUrl}}" /></a>
		{{/canRevert}}
	</div>
</li>
