<li title="{{name}}" data-name="{{name}}">
	{{#if isUploading}}
		<div id="drop-upload-name">{{name}}</div><div id="drop-upload-status"></div>
		<progress id="drop-upload-progress-bar" value="0" max="100"></progress>
	{{else}}
		<img src="{{iconSrc}}"/> {{name}}
	{{/if}}
</li>
