<ul>
	{{#each items}}
		<li>
			<a href="#" class="menuitem action {{name}} permanent" data-action="{{name}}">
				{{#if iconClass}}
					<span class="icon {{iconClass}}"></span>
				{{else}}
					<span class="no-icon"></span>
				{{/if}}
				<span>{{displayName}}</span>
			</a>
		</li>
	{{/each}}
</ul>
